body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:754px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:754px;
  height:1478px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:754px;
  height:1478px;
}
#u1 {
  position:absolute;
  left:2px;
  top:731px;
  width:750px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:-99px;
  top:419px;
  width:960px;
  height:640px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:640px;
}
#u3 {
  position:absolute;
  left:2px;
  top:312px;
  width:956px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:86px;
  top:396px;
  width:19px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  visibility:hidden;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:192px;
  top:710px;
  width:379px;
  height:641px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:641px;
}
#u7 {
  position:absolute;
  left:2px;
  top:312px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:270px;
  top:1120px;
  width:224px;
  height:57px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:57px;
}
#u9 {
  position:absolute;
  left:2px;
  top:20px;
  width:220px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:517px;
  top:442px;
  width:144px;
  height:378px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:378px;
}
#u11 {
  position:absolute;
  left:2px;
  top:181px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:619px;
  top:432px;
  width:49px;
  height:49px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u13 {
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:503px;
  top:724px;
  width:172px;
  height:96px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:96px;
}
#u15 {
  position:absolute;
  left:2px;
  top:40px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:464px;
  top:474px;
  width:250px;
  height:250px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:250px;
}
#u17 {
  position:absolute;
  left:2px;
  top:117px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:104px;
  top:442px;
  width:144px;
  height:378px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:378px;
}
#u19 {
  position:absolute;
  left:2px;
  top:181px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:206px;
  top:432px;
  width:49px;
  height:49px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u21 {
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:90px;
  top:724px;
  width:172px;
  height:96px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:96px;
}
#u23 {
  position:absolute;
  left:2px;
  top:40px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:52px;
  top:452px;
  width:248px;
  height:262px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:262px;
}
#u25 {
  position:absolute;
  left:2px;
  top:123px;
  width:244px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:300px;
  top:408px;
  width:165px;
  height:448px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:448px;
}
#u27 {
  position:absolute;
  left:2px;
  top:216px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:416px;
  top:396px;
  width:56px;
  height:59px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:59px;
}
#u29 {
  position:absolute;
  left:2px;
  top:22px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:284px;
  top:742px;
  width:197px;
  height:113px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:113px;
}
#u31 {
  position:absolute;
  left:2px;
  top:48px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:222px;
  top:408px;
  width:319px;
  height:310px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:310px;
}
#u33 {
  position:absolute;
  left:2px;
  top:147px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:438px;
  top:925px;
  width:200px;
  height:40px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u35 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:438px;
  top:907px;
  width:40px;
  height:45px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:45px;
}
#u37 {
  position:absolute;
  left:2px;
  top:14px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:438px;
  top:988px;
  width:200px;
  height:40px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u39 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:438px;
  top:970px;
  width:38px;
  height:56px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:56px;
}
#u41 {
  position:absolute;
  left:2px;
  top:20px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:438px;
  top:1060px;
  width:200px;
  height:40px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u43 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:438px;
  top:1042px;
  width:39px;
  height:58px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:58px;
}
#u45 {
  position:absolute;
  left:2px;
  top:21px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:128px;
  top:304px;
  width:506px;
  height:82px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:28px;
  color:#FFFFFF;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:82px;
}
#u47 {
  position:absolute;
  left:2px;
  top:7px;
  width:502px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:128px;
  top:1070px;
  width:70px;
  height:30px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u49 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:220px;
  top:1060px;
  width:50px;
  height:50px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u51 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:280px;
  top:1060px;
  width:50px;
  height:50px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u53 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
