<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>startpets</key>
	<array>
		<dict>
			<key>name</key>
			<string>石头人</string>
			<key>generation</key>
			<integer>3</integer>
			<key>level</key>
			<integer>1</integer>
			<key>hpmax</key>
			<integer>3000</integer>
			<key>mpmax</key>
			<integer>0</integer>
			<key>ap</key>
			<integer>20</integer>
			<key>dp</key>
			<integer>6</integer>
			<key>dex</key>
			<integer>0</integer>
			<key>def</key>
			<integer>0</integer>
			<key>element</key>
			<integer>5</integer>
			<key>skill</key>
			<array>
				<dict>
					<key>animateTexturename</key>
					<string>imagename</string>
					<key>animatetexturecount</key>
					<integer>20</integer>
					<key>skillhpchange</key>
					<integer>156</integer>
					<key>skillmpchange</key>
					<integer>-109</integer>
					<key>skilltype</key>
					<integer>0</integer>
					<key>skillobject</key>
					<integer>0</integer>
					<key>skillname</key>
					<string>发芽</string>
					<key>skillcdrounds</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>animateTexturename</key>
					<string>imagename</string>
					<key>animatetexturecount</key>
					<integer>20</integer>
					<key>skillhpchange</key>
					<integer>-178</integer>
					<key>skillmpchange</key>
					<integer>-139</integer>
					<key>skilltype</key>
					<integer>0</integer>
					<key>skillobject</key>
					<integer>1</integer>
					<key>skillname</key>
					<string>木防加成</string>
					<key>skillcdrounds</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>animateTexturename</key>
					<string>imagename</string>
					<key>animatetexturecount</key>
					<integer>20</integer>
					<key>skillhpchange</key>
					<integer>-244</integer>
					<key>skillmpchange</key>
					<integer>-123</integer>
					<key>skilltype</key>
					<integer>0</integer>
					<key>skillobject</key>
					<integer>1</integer>
					<key>skillname</key>
					<string>木系掌控</string>
					<key>skillcdrounds</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>animateTexturename</key>
					<string>imagename</string>
					<key>animatetexturecount</key>
					<integer>20</integer>
					<key>skillhpchange</key>
					<integer>-244</integer>
					<key>skillmpchange</key>
					<integer>-123</integer>
					<key>skilltype</key>
					<integer>0</integer>
					<key>skillobject</key>
					<integer>1</integer>
					<key>skillname</key>
					<string>木系掌控</string>
					<key>skillcdrounds</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>animateTexturename</key>
					<string>imagename</string>
					<key>animatetexturecount</key>
					<integer>20</integer>
					<key>skillhpchange</key>
					<integer>-244</integer>
					<key>skillmpchange</key>
					<integer>-123</integer>
					<key>skilltype</key>
					<integer>0</integer>
					<key>skillobject</key>
					<integer>1</integer>
					<key>skillname</key>
					<string>木系掌控</string>
					<key>skillcdrounds</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>地狱犬</string>
			<key>generation</key>
			<integer>3</integer>
			<key>level</key>
			<integer>1</integer>
			<key>hpmax</key>
			<integer>1500</integer>
			<key>mpmax</key>
			<integer>0</integer>
			<key>ap</key>
			<integer>80</integer>
			<key>dp</key>
			<integer>1</integer>
			<key>dex</key>
			<integer>0</integer>
			<key>def</key>
			<integer>1</integer>
			<key>element</key>
			<integer>4</integer>
			<key>skill</key>
			<array>
				<dict>
					<key>animateTexturename</key>
					<string>imagename</string>
					<key>animatetexturecount</key>
					<integer>20</integer>
					<key>skillhpchange</key>
					<integer>156</integer>
					<key>skillmpchange</key>
					<integer>-109</integer>
					<key>skilltype</key>
					<integer>0</integer>
					<key>skillobject</key>
					<integer>0</integer>
					<key>skillname</key>
					<string>发芽</string>
					<key>skillcdrounds</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>animateTexturename</key>
					<string>imagename</string>
					<key>animatetexturecount</key>
					<integer>20</integer>
					<key>skillhpchange</key>
					<integer>-178</integer>
					<key>skillmpchange</key>
					<integer>-139</integer>
					<key>skilltype</key>
					<integer>0</integer>
					<key>skillobject</key>
					<integer>1</integer>
					<key>skillname</key>
					<string>木防加成</string>
					<key>skillcdrounds</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>animateTexturename</key>
					<string>imagename</string>
					<key>animatetexturecount</key>
					<integer>20</integer>
					<key>skillhpchange</key>
					<integer>-244</integer>
					<key>skillmpchange</key>
					<integer>-123</integer>
					<key>skilltype</key>
					<integer>0</integer>
					<key>skillobject</key>
					<integer>1</integer>
					<key>skillname</key>
					<string>木系掌控</string>
					<key>skillcdrounds</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>animateTexturename</key>
					<string>imagename</string>
					<key>animatetexturecount</key>
					<integer>20</integer>
					<key>skillhpchange</key>
					<integer>-244</integer>
					<key>skillmpchange</key>
					<integer>-123</integer>
					<key>skilltype</key>
					<integer>0</integer>
					<key>skillobject</key>
					<integer>1</integer>
					<key>skillname</key>
					<string>木系掌控</string>
					<key>skillcdrounds</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>animateTexturename</key>
					<string>imagename</string>
					<key>animatetexturecount</key>
					<integer>20</integer>
					<key>skillhpchange</key>
					<integer>-244</integer>
					<key>skillmpchange</key>
					<integer>-123</integer>
					<key>skilltype</key>
					<integer>0</integer>
					<key>skillobject</key>
					<integer>1</integer>
					<key>skillname</key>
					<string>木系掌控</string>
					<key>skillcdrounds</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>史莱姆</string>
			<key>generation</key>
			<integer>3</integer>
			<key>level</key>
			<integer>1</integer>
			<key>hpmax</key>
			<integer>1600</integer>
			<key>mpmax</key>
			<integer>0</integer>
			<key>ap</key>
			<integer>50</integer>
			<key>dp</key>
			<integer>3</integer>
			<key>dex</key>
			<integer>0</integer>
			<key>def</key>
			<integer>0</integer>
			<key>element</key>
			<integer>3</integer>
			<key>skill</key>
			<array>
				<dict>
					<key>animateTexturename</key>
					<string>imagename</string>
					<key>animatetexturecount</key>
					<integer>20</integer>
					<key>skillhpchange</key>
					<integer>156</integer>
					<key>skillmpchange</key>
					<integer>-109</integer>
					<key>skilltype</key>
					<integer>0</integer>
					<key>skillobject</key>
					<integer>0</integer>
					<key>skillname</key>
					<string>发芽</string>
					<key>skillcdrounds</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>animateTexturename</key>
					<string>imagename</string>
					<key>animatetexturecount</key>
					<integer>20</integer>
					<key>skillhpchange</key>
					<integer>-178</integer>
					<key>skillmpchange</key>
					<integer>-139</integer>
					<key>skilltype</key>
					<integer>0</integer>
					<key>skillobject</key>
					<integer>1</integer>
					<key>skillname</key>
					<string>木防加成</string>
					<key>skillcdrounds</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>animateTexturename</key>
					<string>imagename</string>
					<key>animatetexturecount</key>
					<integer>20</integer>
					<key>skillhpchange</key>
					<integer>-244</integer>
					<key>skillmpchange</key>
					<integer>-123</integer>
					<key>skilltype</key>
					<integer>0</integer>
					<key>skillobject</key>
					<integer>1</integer>
					<key>skillname</key>
					<string>木系掌控</string>
					<key>skillcdrounds</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>animateTexturename</key>
					<string>imagename</string>
					<key>animatetexturecount</key>
					<integer>20</integer>
					<key>skillhpchange</key>
					<integer>-244</integer>
					<key>skillmpchange</key>
					<integer>-123</integer>
					<key>skilltype</key>
					<integer>0</integer>
					<key>skillobject</key>
					<integer>1</integer>
					<key>skillname</key>
					<string>木系掌控</string>
					<key>skillcdrounds</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>animateTexturename</key>
					<string>imagename</string>
					<key>animatetexturecount</key>
					<integer>20</integer>
					<key>skillhpchange</key>
					<integer>-244</integer>
					<key>skillmpchange</key>
					<integer>-123</integer>
					<key>skilltype</key>
					<integer>0</integer>
					<key>skillobject</key>
					<integer>1</integer>
					<key>skillname</key>
					<string>木系掌控</string>
					<key>skillcdrounds</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>鲤鱼王</string>
			<key>generation</key>
			<integer>3</integer>
			<key>level</key>
			<integer>1</integer>
			<key>hpmax</key>
			<integer>1800</integer>
			<key>mpmax</key>
			<integer>0</integer>
			<key>ap</key>
			<integer>60</integer>
			<key>dp</key>
			<integer>2</integer>
			<key>dex</key>
			<integer>0</integer>
			<key>def</key>
			<integer>1</integer>
			<key>element</key>
			<integer>2</integer>
			<key>skill</key>
			<array>
				<dict>
					<key>animateTexturename</key>
					<string>imagename</string>
					<key>animatetexturecount</key>
					<integer>20</integer>
					<key>skillhpchange</key>
					<integer>156</integer>
					<key>skillmpchange</key>
					<integer>-109</integer>
					<key>skilltype</key>
					<integer>0</integer>
					<key>skillobject</key>
					<integer>0</integer>
					<key>skillname</key>
					<string>发芽</string>
					<key>skillcdrounds</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>animateTexturename</key>
					<string>imagename</string>
					<key>animatetexturecount</key>
					<integer>20</integer>
					<key>skillhpchange</key>
					<integer>-178</integer>
					<key>skillmpchange</key>
					<integer>-139</integer>
					<key>skilltype</key>
					<integer>0</integer>
					<key>skillobject</key>
					<integer>1</integer>
					<key>skillname</key>
					<string>木防加成</string>
					<key>skillcdrounds</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>animateTexturename</key>
					<string>imagename</string>
					<key>animatetexturecount</key>
					<integer>20</integer>
					<key>skillhpchange</key>
					<integer>-244</integer>
					<key>skillmpchange</key>
					<integer>-123</integer>
					<key>skilltype</key>
					<integer>0</integer>
					<key>skillobject</key>
					<integer>1</integer>
					<key>skillname</key>
					<string>木系掌控</string>
					<key>skillcdrounds</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>animateTexturename</key>
					<string>imagename</string>
					<key>animatetexturecount</key>
					<integer>20</integer>
					<key>skillhpchange</key>
					<integer>-244</integer>
					<key>skillmpchange</key>
					<integer>-123</integer>
					<key>skilltype</key>
					<integer>0</integer>
					<key>skillobject</key>
					<integer>1</integer>
					<key>skillname</key>
					<string>木系掌控</string>
					<key>skillcdrounds</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>animateTexturename</key>
					<string>imagename</string>
					<key>animatetexturecount</key>
					<integer>20</integer>
					<key>skillhpchange</key>
					<integer>-244</integer>
					<key>skillmpchange</key>
					<integer>-123</integer>
					<key>skilltype</key>
					<integer>0</integer>
					<key>skillobject</key>
					<integer>1</integer>
					<key>skillname</key>
					<string>木系掌控</string>
					<key>skillcdrounds</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>盔甲哥</string>
			<key>generation</key>
			<integer>3</integer>
			<key>level</key>
			<integer>1</integer>
			<key>hpmax</key>
			<integer>1800</integer>
			<key>mpmax</key>
			<integer>0</integer>
			<key>ap</key>
			<integer>60</integer>
			<key>dp</key>
			<integer>2</integer>
			<key>dex</key>
			<integer>0</integer>
			<key>def</key>
			<integer>0</integer>
			<key>element</key>
			<integer>1</integer>
			<key>skill</key>
			<array>
				<dict>
					<key>animateTexturename</key>
					<string>imagename</string>
					<key>animatetexturecount</key>
					<integer>20</integer>
					<key>skillhpchange</key>
					<integer>156</integer>
					<key>skillmpchange</key>
					<integer>-109</integer>
					<key>skilltype</key>
					<integer>0</integer>
					<key>skillobject</key>
					<integer>0</integer>
					<key>skillname</key>
					<string>发芽</string>
					<key>skillcdrounds</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>animateTexturename</key>
					<string>imagename</string>
					<key>animatetexturecount</key>
					<integer>20</integer>
					<key>skillhpchange</key>
					<integer>-178</integer>
					<key>skillmpchange</key>
					<integer>-139</integer>
					<key>skilltype</key>
					<integer>0</integer>
					<key>skillobject</key>
					<integer>1</integer>
					<key>skillname</key>
					<string>木防加成</string>
					<key>skillcdrounds</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>animateTexturename</key>
					<string>imagename</string>
					<key>animatetexturecount</key>
					<integer>20</integer>
					<key>skillhpchange</key>
					<integer>-244</integer>
					<key>skillmpchange</key>
					<integer>-123</integer>
					<key>skilltype</key>
					<integer>0</integer>
					<key>skillobject</key>
					<integer>1</integer>
					<key>skillname</key>
					<string>木系掌控</string>
					<key>skillcdrounds</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>animateTexturename</key>
					<string>imagename</string>
					<key>animatetexturecount</key>
					<integer>20</integer>
					<key>skillhpchange</key>
					<integer>-244</integer>
					<key>skillmpchange</key>
					<integer>-123</integer>
					<key>skilltype</key>
					<integer>0</integer>
					<key>skillobject</key>
					<integer>1</integer>
					<key>skillname</key>
					<string>木系掌控</string>
					<key>skillcdrounds</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>animateTexturename</key>
					<string>imagename</string>
					<key>animatetexturecount</key>
					<integer>20</integer>
					<key>skillhpchange</key>
					<integer>-244</integer>
					<key>skillmpchange</key>
					<integer>-123</integer>
					<key>skilltype</key>
					<integer>0</integer>
					<key>skillobject</key>
					<integer>1</integer>
					<key>skillname</key>
					<string>木系掌控</string>
					<key>skillcdrounds</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
	</array>
	<key>userpetinfo</key>
	<array>
		<dict>
			<key>name</key>
			<string>test木精灵</string>
			<key>generation</key>
			<integer>0</integer>
			<key>level</key>
			<integer>0</integer>
			<key>hpmax</key>
			<integer>2000</integer>
			<key>mpmax</key>
			<integer>0</integer>
			<key>ap</key>
			<real>0</real>
			<key>dp</key>
			<integer>0</integer>
			<key>dex</key>
			<integer>0</integer>
			<key>def</key>
			<integer>1</integer>
			<key>element</key>
			<integer>2</integer>
			<key>skills</key>
			<array>
				<dict>
					<key>skillid</key>
					<string>01</string>
					<key>skillstatus</key>
					<string>valid</string>
					<key>animateTexturename</key>
					<string>imagename</string>
					<key>animatetexturecount</key>
					<integer>20</integer>
					<key>skillbtntexture</key>
					<string>01_devilrebirth</string>
					<key>skillhpchange</key>
					<integer>700</integer>
					<key>skillmpchange</key>
					<integer>-200</integer>
					<key>skilltype</key>
					<integer>1</integer>
					<key>skillobject</key>
					<integer>1</integer>
					<key>skillname</key>
					<string>恶魔重生</string>
					<key>skillcdrounds</key>
					<integer>3</integer>
					<key>skillcontinue</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>skillid</key>
					<string>02</string>
					<key>skillstatus</key>
					<string>valid</string>
					<key>animateTexturename</key>
					<string>blade</string>
					<key>animatetexturecount</key>
					<integer>20</integer>
					<key>skillbtntexture</key>
					<string>02_devilbreath</string>
					<key>skillhpchange</key>
					<integer>-200</integer>
					<key>skillmpchange</key>
					<integer>-200</integer>
					<key>skilltype</key>
					<integer>0</integer>
					<key>skillobject</key>
					<integer>1</integer>
					<key>skillname</key>
					<string>恶魔呼吸</string>
					<key>skillcdrounds</key>
					<integer>4</integer>
					<key>skillcontinue</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>skillid</key>
					<string>03</string>
					<key>skillstatus</key>
					<string>valid</string>
					<key>animateTexturename</key>
					<string>shield</string>
					<key>animatetexturecount</key>
					<integer>20</integer>
					<key>skillbtntexture</key>
					<string>03_rattantwine</string>
					<key>skillhpchange</key>
					<integer>-554</integer>
					<key>skillmpchange</key>
					<integer>-200</integer>
					<key>skilltype</key>
					<integer>0</integer>
					<key>skillobject</key>
					<integer>1</integer>
					<key>skillname</key>
					<string>魔藤缠绕</string>
					<key>skillcdrounds</key>
					<integer>4</integer>
					<key>skillcontinue</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>skillid</key>
					<string>05</string>
					<key>skillstatus</key>
					<string>valid</string>
					<key>animateTexturename</key>
					<string>shield</string>
					<key>animatetexturecount</key>
					<integer>20</integer>
					<key>skillbtntexture</key>
					<string>04_nightjudge</string>
					<key>skillhpchange</key>
					<integer>-554</integer>
					<key>skillmpchange</key>
					<integer>-200</integer>
					<key>skilltype</key>
					<integer>0</integer>
					<key>skillobject</key>
					<integer>1</integer>
					<key>skillname</key>
					<string>黑夜审判</string>
					<key>skillcdrounds</key>
					<integer>1</integer>
					<key>skillcontinue</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
	</array>
	<key>enemysinfo</key>
	<array>
		<dict>
			<key>name</key>
			<string>test火精灵 敌人</string>
			<key>generation</key>
			<integer>0</integer>
			<key>level</key>
			<integer>0</integer>
			<key>hpmax</key>
			<integer>1000</integer>
			<key>mpmax</key>
			<integer>0</integer>
			<key>ap</key>
			<real>0</real>
			<key>dp</key>
			<integer>0</integer>
			<key>dex</key>
			<integer>0</integer>
			<key>def</key>
			<integer>1</integer>
			<key>element</key>
			<integer>4</integer>
			<key>skills</key>
			<array>
				<dict>
					<key>animateTexturename</key>
					<string>blade</string>
					<key>animatetexturecount</key>
					<integer>20</integer>
					<key>skillhpchange</key>
					<integer>-356</integer>
					<key>skillmpchange</key>
					<integer>-109</integer>
					<key>skilltype</key>
					<integer>0</integer>
					<key>skillobject</key>
					<integer>1</integer>
					<key>skillname</key>
					<string>敌人弹幕冲击</string>
					<key>skillcdrounds</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>animateTexturename</key>
					<string>blade</string>
					<key>animatetexturecount</key>
					<integer>20</integer>
					<key>skillhpchange</key>
					<integer>-178</integer>
					<key>skillmpchange</key>
					<integer>-139</integer>
					<key>skilltype</key>
					<integer>1</integer>
					<key>skillobject</key>
					<integer>1</integer>
					<key>skillname</key>
					<string>敌人冰晶之触</string>
					<key>skillcdrounds</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>animateTexturename</key>
					<string>blade</string>
					<key>animatetexturecount</key>
					<integer>20</integer>
					<key>skillhpchange</key>
					<integer>-244</integer>
					<key>skillmpchange</key>
					<integer>-123</integer>
					<key>skilltype</key>
					<integer>0</integer>
					<key>skillobject</key>
					<integer>1</integer>
					<key>skillname</key>
					<string>敌人闪烁</string>
					<key>skillcdrounds</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>test火精灵 敌人</string>
			<key>generation</key>
			<integer>0</integer>
			<key>level</key>
			<integer>0</integer>
			<key>hpmax</key>
			<integer>1000</integer>
			<key>mpmax</key>
			<integer>0</integer>
			<key>ap</key>
			<real>0</real>
			<key>dp</key>
			<integer>0</integer>
			<key>dex</key>
			<integer>0</integer>
			<key>def</key>
			<integer>1</integer>
			<key>element</key>
			<integer>4</integer>
			<key>skills</key>
			<array>
				<dict>
					<key>animateTexturename</key>
					<string>blade</string>
					<key>animatetexturecount</key>
					<integer>20</integer>
					<key>skillhpchange</key>
					<integer>-356</integer>
					<key>skillmpchange</key>
					<integer>-109</integer>
					<key>skilltype</key>
					<integer>0</integer>
					<key>skillobject</key>
					<integer>1</integer>
					<key>skillname</key>
					<string>敌人弹幕冲击</string>
					<key>skillcdrounds</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>animateTexturename</key>
					<string>blade</string>
					<key>animatetexturecount</key>
					<integer>20</integer>
					<key>skillhpchange</key>
					<integer>-178</integer>
					<key>skillmpchange</key>
					<integer>-139</integer>
					<key>skilltype</key>
					<integer>1</integer>
					<key>skillobject</key>
					<integer>1</integer>
					<key>skillname</key>
					<string>敌人冰晶之触</string>
					<key>skillcdrounds</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>animateTexturename</key>
					<string>blade</string>
					<key>animatetexturecount</key>
					<integer>20</integer>
					<key>skillhpchange</key>
					<integer>-244</integer>
					<key>skillmpchange</key>
					<integer>-123</integer>
					<key>skilltype</key>
					<integer>0</integer>
					<key>skillobject</key>
					<integer>1</integer>
					<key>skillname</key>
					<string>敌人闪烁</string>
					<key>skillcdrounds</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>test火精灵 敌人</string>
			<key>generation</key>
			<integer>0</integer>
			<key>level</key>
			<integer>0</integer>
			<key>hpmax</key>
			<integer>1000</integer>
			<key>mpmax</key>
			<integer>0</integer>
			<key>ap</key>
			<real>0</real>
			<key>dp</key>
			<integer>0</integer>
			<key>dex</key>
			<integer>0</integer>
			<key>def</key>
			<integer>1</integer>
			<key>element</key>
			<integer>4</integer>
			<key>skills</key>
			<array>
				<dict>
					<key>animateTexturename</key>
					<string>blade</string>
					<key>animatetexturecount</key>
					<integer>20</integer>
					<key>skillhpchange</key>
					<integer>-356</integer>
					<key>skillmpchange</key>
					<integer>-109</integer>
					<key>skilltype</key>
					<integer>0</integer>
					<key>skillobject</key>
					<integer>1</integer>
					<key>skillname</key>
					<string>敌人弹幕冲击</string>
					<key>skillcdrounds</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>animateTexturename</key>
					<string>blade</string>
					<key>animatetexturecount</key>
					<integer>20</integer>
					<key>skillhpchange</key>
					<integer>-178</integer>
					<key>skillmpchange</key>
					<integer>-139</integer>
					<key>skilltype</key>
					<integer>1</integer>
					<key>skillobject</key>
					<integer>1</integer>
					<key>skillname</key>
					<string>敌人冰晶之触</string>
					<key>skillcdrounds</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>animateTexturename</key>
					<string>blade</string>
					<key>animatetexturecount</key>
					<integer>20</integer>
					<key>skillhpchange</key>
					<integer>-244</integer>
					<key>skillmpchange</key>
					<integer>-123</integer>
					<key>skilltype</key>
					<integer>0</integer>
					<key>skillobject</key>
					<integer>1</integer>
					<key>skillname</key>
					<string>敌人闪烁</string>
					<key>skillcdrounds</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>test火精灵 敌人</string>
			<key>generation</key>
			<integer>0</integer>
			<key>level</key>
			<integer>0</integer>
			<key>hpmax</key>
			<integer>1000</integer>
			<key>mpmax</key>
			<integer>0</integer>
			<key>ap</key>
			<real>0</real>
			<key>dp</key>
			<integer>0</integer>
			<key>dex</key>
			<integer>0</integer>
			<key>def</key>
			<integer>1</integer>
			<key>element</key>
			<integer>4</integer>
			<key>skills</key>
			<array>
				<dict>
					<key>animateTexturename</key>
					<string>blade</string>
					<key>animatetexturecount</key>
					<integer>20</integer>
					<key>skillhpchange</key>
					<integer>-356</integer>
					<key>skillmpchange</key>
					<integer>-109</integer>
					<key>skilltype</key>
					<integer>0</integer>
					<key>skillobject</key>
					<integer>1</integer>
					<key>skillname</key>
					<string>敌人弹幕冲击</string>
					<key>skillcdrounds</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>animateTexturename</key>
					<string>blade</string>
					<key>animatetexturecount</key>
					<integer>20</integer>
					<key>skillhpchange</key>
					<integer>-178</integer>
					<key>skillmpchange</key>
					<integer>-139</integer>
					<key>skilltype</key>
					<integer>1</integer>
					<key>skillobject</key>
					<integer>1</integer>
					<key>skillname</key>
					<string>敌人冰晶之触</string>
					<key>skillcdrounds</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>animateTexturename</key>
					<string>blade</string>
					<key>animatetexturecount</key>
					<integer>20</integer>
					<key>skillhpchange</key>
					<integer>-244</integer>
					<key>skillmpchange</key>
					<integer>-123</integer>
					<key>skilltype</key>
					<integer>0</integer>
					<key>skillobject</key>
					<integer>1</integer>
					<key>skillname</key>
					<string>敌人闪烁</string>
					<key>skillcdrounds</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
