<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>____ball_magic____</key>
	<string></string>
	<key>magic_ball</key>
	<integer>20</integer>
	<key>plant_run</key>
	<integer>15</integer>
	<key>plant_step</key>
	<integer>15</integer>
	<key>____ball_table____</key>
	<string></string>
	<key>combo_ball</key>
	<integer>25</integer>
	<key>element_birth</key>
	<integer>24</integer>
	<key>===battle_fight_effect===</key>
	<string></string>
	<key>debeat</key>
	<integer>4</integer>
	<key>defend</key>
	<integer>7</integer>
	<key>heal</key>
	<integer>13</integer>
	<key>moving</key>
	<integer>4</integer>
	<key>shield_break</key>
	<integer>2</integer>
	<key>waiting</key>
	<integer>3</integer>
	<key>===battle_fight_missile ===</key>
	<string></string>
	<key>01_tornado</key>
	<integer>10</integer>
	<key>===battle_fight_pixie ===</key>
	<string></string>
	<key>metal3_beated</key>
	<integer>4</integer>
	<key>metal3_hit</key>
	<integer>4</integer>
	<key>metal3_move</key>
	<integer>4</integer>
	<key>metal3_stop</key>
	<integer>4</integer>
	<key>water3_beated</key>
	<integer>4</integer>
	<key>water3_hit</key>
	<integer>4</integer>
	<key>water3_move</key>
	<integer>4</integer>
	<key>water3_stop</key>
	<integer>4</integer>
	<key>earth3_beated</key>
	<integer>4</integer>
	<key>earth3_hit</key>
	<integer>4</integer>
	<key>earth3_move</key>
	<integer>4</integer>
	<key>earth3_stop</key>
	<integer>4</integer>
	<key>fire3_beated</key>
	<integer>4</integer>
	<key>fire3_hit</key>
	<integer>4</integer>
	<key>fire3_move</key>
	<integer>4</integer>
	<key>fire3_stop</key>
	<integer>4</integer>
	<key>plant3_beated</key>
	<integer>4</integer>
	<key>plant3_hit</key>
	<integer>4</integer>
	<key>plant3_move</key>
	<integer>4</integer>
	<key>plant3_stop</key>
	<integer>4</integer>
	<key>===battle_fight_skill===</key>
	<string></string>
	<key>01_devilrebirth</key>
	<integer>8</integer>
	<key>02_devilbreath</key>
	<integer>10</integer>
	<key>02_devilbreath_buff</key>
	<integer>11</integer>
	<key>03_rattantwine</key>
	<integer>15</integer>
	<key>03_rattantwine_buff_apr</key>
	<integer>13</integer>
	<key>03_rattantwine_buff_dis</key>
	<integer>9</integer>
	<key>04_nightjudge</key>
	<integer>10</integer>
	<key>04_nightjudge_hit</key>
	<integer>6</integer>
	<key>===battle_table_ball===</key>
	<string></string>
	<key>ball_pixie_active</key>
	<integer>14</integer>
	<key>ball_pixie_choose</key>
	<integer>4</integer>
	<key>ball_pixie_hit</key>
	<integer>6</integer>
	<key>ball_pixie_start</key>
	<integer>3</integer>
	<key>ball_pixie_wall</key>
	<integer>4</integer>
	<key>===battle_table_buff===</key>
	<string></string>
	<key>buff_cirrus</key>
	<integer>15</integer>
	<key>buff_rooted_apr</key>
	<integer>13</integer>
	<key>buff_rooted_dis</key>
	<integer>9</integer>
</dict>
</plist>
